* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(234, 29%, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainBox {
    width: 815px;
    height: 560px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px hsl(0, 0%, 100%);
}


.textContent {
    width: 370px;
    height: 530px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.emailCamp
label,
input {
    font-size: 13px;
    margin-top: 5px;
}

.emailCamp label {
    font-weight: bolder;
}

#errorText {
    color: hsl(4, 100%, 67%);
    font-weight: bolder;
    font-size: 13px;
    padding-left: 7.5rem;
    display: none;
}

.mainBox .textContent input {
    width: 326px;
    height: 50px;
    padding-left: 20px;
    border: solid 0.5px hsl(231, 7%, 60%);
    cursor: text;

} 


.mainBox .textContent button {
    margin-top: 30px;
    margin-bottom: -20px;
    width: 326px;
    height: 50px;
    background-color:  hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer; 
    transition: 100ms ease-in;
}

.mainBox .textContent button:hover {
    transform: scale(1.1);
}

.textContent h1 {
    font-size: 55px;
}

.list { 
    width: 400px;
    height: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.list li {
    background-image: url(./assets/images/icon-list.svg);
    background-repeat: no-repeat;
    background-position:  left -1px;
    padding-bottom: 15px;
    padding-left: 30px;
}

 
.imageContent {
    width: 390px;
    height: 540px;
    margin-left: 65px;
}

.imageContent img {
    max-width: 100%;
    max-height: 100%;
}

.attribution {
    font-size: 16px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 100px;
}

.confirmationBox {
    border-radius: 5%;
    width: 450px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-bottom: 20px;
    display: none;
}

.confirmationBox img {
    max-width: 15%;
    max-height: 15%;  
}

.confirmationBox h1 {
    font-size: 55px;
}

.confirmationBox button {
    font-size: 55px;
    width: 326px;
    height: 50px;
    background-color:  hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer; 
    transition: 100ms ease-in;
}

.confirmationBox button:hover {
    transform: scale(1.1);
}

.thanks {
    border-radius: 5%;
    width: 450px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}


.thanks h1 {
    font-size: 35px;
    
}

.thanks h1::after {
    content: "";
    background-color: hsl(235, 18%, 26%);
    width: 326px;
    height: 5px;
    display: block;
    padding-left: 20px;
}

.thankYouImg {
    width: 40%;
    height: 40%;
    padding-bottom: 50px; 
}

.attribution a {
    color: hsl(231, 7%, 60%);
    margin-top: 40px;
}

@media (max-width: 790px) {

    body {
        overflow: hidden;
    }
    .mainBox {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap-reverse;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .textContent {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .imageContent {
        margin-left: 0;
        width: 100vw;
    }

    .imageContent img {
        width: 100%;  
        height: 100%;  
        object-fit: cover;  
    }

    .emailCamp {
        width: 400px;
    }

    .confirmationBox {
        height: 100vh;
        width: 100vw;
        flex-wrap: wrap;
        overflow: hidden;
        border-radius: 0;
        padding-left: 1rem;
    }

    .thanks {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .attribution  {
        display: none;
    }
    
}

@media (max-width: 400px) {
    .textContent {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: start;
    }

    .confirmationBox {
        height: 100vh;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding-left: 1rem;
        overflow: hidden;
    }

    .list {
        padding-right: 8rem;
    }


}